<br/> 
 

        
<h2 class="my-4">
	About us
</h2>
<div class="row gx-5">
	<img src="~/images/Whisky 1.jpg"  style="width:40%; object-fit:contain;" />
	<div class="col-7">
		<h3>About Porirua Whisky Society</h3>
		<div class="text-container">
			<p>
				Created in 2018, the Porirua Whisky Society is a group of likeminded people who enjoy a whisky, or two... maybe a few.. We offer great banter and pretend we know what we are talking about when sampling whisky from around the world.
			</p>
			<p>Each year the club holds six tastings, where we bring along different bottles to sample and score, with a final 'Champion of Champions special tasting taking place later in the year. We even design fancy T-Shirts each year!</p>
			<p>We also have specific tastings which are more focused on specific distilleries, and their unique offerings. These sessions are more nuanced, with the history of the distillery discussed, how they distill their whisky, and really get into the complexities of each offering.
​			</p>
		</div>

 	
 

	</div>
</div>


 