<br />
 
<h2 class="my-4">
	Contact us
</h2>
<div class="row gx-5">
	<img src="~/images/whisky 2.jpg" style="width:40%; object-fit:contain;" />
	<div class="col-7">
		<h3>We'd Love to hear from you!</h3>
		<h4>Our email: poriruawhisky@gmail.com</h4>
		<h5>You can contact us by sending an email using the button below</h5>
		<a href="mailto:poriruawhisky@gmail.com" class="btn btn-secondary">Contact us</a>
 

	</div>
</div>
 
